body {
  background-color: #1d248e;
  margin: 0;
  padding: 0;
  border: 0;
}

div.center {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

img {
  border-radius: 3px;
  max-width: 75%;
  max-height: 75%;
}

h1 {
  color: white;
  font-family: 'Luckiest Guy';
  font-size: 7.5vmin;
}

@font-face {
  font-family: 'Luckiest Guy';
  font-style: normal;
  font-weight: 400;
  src: local('Luckiest Guy Regular'), local('LuckiestGuy-Regular'),
       url('../fonts/luckiest-guy-v11-latin-regular.woff2') format('woff2'),
       url('../fonts/luckiest-guy-v11-latin-regular.woff') format('woff');
}
